/* CSS Document */


 #locationpic{

 }
 
  
 .l-item {
	 clear:both;
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 300px;
	padding-top:-20px;
	margin-top:-20px;
	background-image: url(../images/cm001.jpg);
  }




.map{
border: #d8c7a0 1px solid;
 position: relative;
 padding-bottom: 50%;
}
.map iframe{
 position: absolute;
 left:0;
 top:0;
 width: 100%;
 height: 100%;
}



#box{

	background: #69F;
	width:600px;
	height:350px;
  


}
.h5{
	color:#fff;
}
	.box-msg{
	width: 100%;
    text-align: center;
	}
	
.box-heading{
	
	left:0;
	margin-top: 30px;
	color: #fff;
	font-size: 18px;
}


.location-foot{
 margin-top: 860px;
}


.appointment{
	float:left;
	 position: absolute;
 left:0;
}



.contactform{
	float:left;
	 position: absolute;
 left:2%;
 width:55%;
}

.contact-foot{
 margin-top: 580px;
}