/* CSS Document */


 #locationpic{

 }
 
  
 .l-item {
	 clear:both;
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 300px;
	padding-top:-20px;
	margin-top:-20px;
	background-image: url(../images/cm001.jpg);
  }




.map{
border: #d8c7a0 1px solid;
 position: relative;
 padding-bottom: 50%;
}
.map iframe{
 position: absolute;
 left:0;
 top:0;
 width: 100%;
 height: 100%;
}



#box{

	background: #69F;
	width:600px;
	height:350px;
  


}
.h5{
	color:#fff;
}
	.box-msg{
	width: 100%;
    text-align: center;
	}
	
.box-heading{
	
	left:0;
	margin-top: 30px;
	color: #fff;
	font-size: 18px;
}


.location-foot{
 margin-top: 860px;
}


.appointment{
	float:left;
	 position: absolute;
 left:0;
}



.contactform{
	float:left;
	 position: absolute;
 left:2%;
 width:55%;
}

.contact-foot{
 margin-top: 580px;
}



 #appoint {
    padding-top:10px;
  }

  #appoint label {
    color: #393939;
    font-weight: 400;
  }

  #appoint .form-control {
    background: #f9f9f9;
    border: none;
    border-radius: 3px;
    box-shadow:none;
    font-size: 14px;
    font-weight: normal;

    margin-bottom: 11px;
	
    transition: all ease-in-out 0.4s;
  }

  #appoint input,
  #appoint select {
    height: 32px;
  }

  #appoint button#cf-submit {
    background: #a5c422;
    color: #ffffff;
    font-weight: 300;
    height: 40px;
  }

  #appoint button#cf-submit:hover {
    background: #393939;
    color: #ffffff;
  }